<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ExpressServiceDb"
             connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ExpressServiceDb.mdf;Integrated Security=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>